.catalog__desc {
  max-width: 1080px;
  margin-bottom: 40px;
  color: var(--dark-gray);
}

.catalog__wrap {
  display: flex;
  justify-content: space-between;
}

.catalog__left {
  flex-shrink: 0;
  width: calc(50% - 25px);
}

.catalog__card {
  display: none;
}

.catalog__card.active {
  display: block;
  animation-name: fade-in;
  animation-duration: .7s;
}

.catalog__card-img {
  width: 100%;
  margin-bottom: 22px;

  object-fit: cover;
}

.catalog__card-name {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.catalog__subtitle {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--light-gray);
}

.catalog__card-desc {
  color: var(--dark-gray);
}

.catalog__right {
  width: calc(50% - 25px);
}

.catalog__item {
  /* height: 115px; */
  border: none;
}

.catalog__item:not(:first-child) {
  margin-top: -1px;
}

.btn--catalog {
  padding: 0;
  padding: 41px 0 41px 0;
  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog__artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 25px 0;
}

.catalog__artist-name {
  width: 30%;
}

.btn--catalog:focus-visible:not(:active) .btn__text {
  color: white;
  background-color: var(--acc);
}

.btn--catalog:focus {
  outline: none;
}

.btn--catalog:hover:before {
  background-color: var(--light-acc);
}

.btn--catalog:active .btn__text {
  color: var(--dark-acc);
}

.artist {
  position: relative;
  cursor: pointer;
}

.artist:focus-visible:not(:active) {
  outline: none;
  background-color: var(--acc);
}

.artist:active {
  transform: translate3d(10px, 20px, 1px);
}

.artist:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--dark-acc);
  transition: transform .5s;
  transform: scaleX(0);
  transform-origin: left;
}

.artist:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.catalog__unknown-container {
  display: flex;
  align-items: center;
  margin: 25px 0;

  gap: 24px;
}

.catalog__unknown-wrap {
  width: 35%;
}

.catalog__unknown-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

.catalog__unknown-image {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 275px;
  height: 186px;
  margin: 2px;
  border: 10px solid #ffffff;
  outline: 2px solid var(--light-gray);
  background-color: var(--light-gray);
}

.catalog__unknown-desc {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.catalog__unknown-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--acc);
}

.catalog__card-img--null {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20%;
  background-color: var(--light-gray2);
}

.catalog__card-img--null>img {
  max-width: 236px;
  margin: 0;
}

.catalog__card-img--null>h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #666666;
}

.catalog__card-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--acc);
}

@media (max-width: 1500px) {
  .catalog__artist-name {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .catalog__wrap {
    flex-direction: column;
  }

  .catalog__left {
    order: 2;
    width: 100%;
    padding-right: 0;
  }

  .catalog__right {
    /* order: 1; */
    width: 100%;
    padding-bottom: 51px;
  }

  .catalog__desc {
    margin-bottom: 20px;
  }

  .catalog__content-wrap {
    width: 100%;
  }

  .catalog__artist-name {
    width: 33%;
  }

  .catalog__card-img {
    margin-bottom: 12px;
  }

  .catalog__card-name {
    margin-bottom: 7px;
  }

  .catalog__subtitle {
    margin-bottom: 6px;
  }
}

@media (max-width: 700px) {
  .catalog__artist-name {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .catalog__artist-name {
    width: 100%;
  }

  .catalog__desc {
    display: none;
  }

  .btn--catalog {
    padding: 20px 0;
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__unknown-title {
    font-size: 16px;
    line-height: 22px;
  }

  .catalog__artist {
    margin-top: 21px;
  }

  .catalog__artist-name {
    margin-bottom: 2px;
  }

  .artist {
    font-size: 16px;
  }

  .catalog__card-name {
    margin-bottom: 4px;
  }

  .catalog__subtitle {
    margin-bottom: 14px;
  }

  .catalog__card-desc {
    font-size: 16px;
    line-height: 32px;
  }

  .catalog__unknown-image {
    width: 80%;
    height: 126px;
    border-width: 4px;
  }

  .catalog__unknown-container {
    margin-top: 19px;
    margin-bottom: 22px;

    gap: 25px;
  }

  .catalog__unknown-wrap {
    width: unset;
  }

  .catalog__unknown-title {
    font-size: 18px;
    line-height: 32px;
  }

  .catalog__unknown-desc {
    margin-bottom: 3px;
  }

  .catalog__card-img--null {
    height: 181px;
    margin-bottom: 21px;
    padding: 25px 79px;
  }

  .catalog__card-img--null>img {
    height: 82%;
    margin-bottom: 2px;

    object-fit: contain;
  }

  .catalog__card-img--null>h4 {
    font-size: 18px;
    line-height: 25px;
  }

  [data-target="art0"]>.catalog__card-name {
    margin-bottom: 7px;
  }

  [data-target="art0"]>.catalog__card-desc {
    width: 90%;
    margin-bottom: 2px;
    line-height: 22px;
  }
}