.catalog__desc {
  max-width: 1080px;
  margin-bottom: 40px;
  color: var(--dark-gray);
}

.catalog__wrap {
  display: flex;
}

.catalog__left {
  flex-shrink: 0;
  width: 50%;
  padding-right: 50px;
}

.catalog__card {
  display: none;
}

.catalog__card.active {
  display: block;
  animation-name: fade-in;
  animation-duration: .7s;
}

.catalog__card-img {
  width: 100%;
  margin-bottom: 22px;
  object-fit: cover;
}

.catalog__card-name {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.catalog__subtitle {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--light-gray);
}

.catalog__card-desc {
  color: var(--dark-gray);
}

.catalog_right {
  width: 50%;
}

.catalog__item {
  /* height: 115px; */
  border: none;
}

.catalog__item:not(:first-child) {
  margin-top: -1px;
}

.btn--catalog {
  padding: 0;
  padding: 41px 0 41px 0;
  border: none;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark-gray);
}

.catalog__content-wrap {
  width: 94%;
}

.catalog__artist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0;
  column-gap: 25px;
}

.catalog__artist-name {
  width: 30%;
}

.btn--catalog:focus-visible:not(:active) .btn__text {
  color: white;
  background-color: var(--acc);
}

.btn--catalog:focus {
  outline: none;
}

.btn--catalog:hover:before {
  background-color: var(--light-acc);
}

.btn--catalog:active .btn__text {
  color: var(--dark-acc);
}

.artist {
  position: relative;
  cursor: pointer;
}

.artist:focus-visible:not(:active) {
  outline: none;
  background-color: var(--acc);
}

.artist:active {
  transform: translate3d(10px, 20px, 1px);
}

.artist:before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 110%;
  height: 1px;
  background-color: var(--dark-acc);
  transition: transform .5s;
  transform: scaleX(0);
  transform-origin: left;
}

.artist:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.catalog__unknown-container {
  display: flex;
  align-items: center;
  margin: 25px 0;

  gap: 24px;
}

.catalog__unknown-wrap {
  width: 35%;
}

.catalog__unknown-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
}

.catalog__unknown-image {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 275px;
  height: 186px;
  margin: 2px;
  border: 10px solid #ffffff;
  outline: 2px solid var(--light-gray);
  background-color: var(--light-gray);
}

.catalog__unknown-desc {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.catalog__unknown-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--acc);
}

.catalog__card-img--null {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20%;
  background-color: var(--light-gray2);
}

.catalog__card-img--null>img {
  max-width: 236px;
  margin: 0;
}

.catalog__card-img--null>h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #666666;
}

.catalog__card-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: var(--acc);
}
