.event__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.event__swiper {
  position: relative;
}

.swiper-3 .swiper-wrapper {
  align-items: stretch;
}

.swiper-3 .swiper-slide {
  cursor: auto;
  overflow: auto;
  flex-grow: 1;
  height: auto;
}

.event .pagination {
  position: absolute;
  top: 50%;
  left: -25px;
  width: calc(100% + 50px);
  margin: auto 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.event .swiper-nav-btn {
  width: 50px;
  height: 50px;
  background-color: var(--light-gray2);
  pointer-events: all;
  transition: background-color .3s;
}

.event .swiper-nav-btn::after {
  right: 50%;
  bottom: 50%;
  width: 12px;
  height: 12px;
  border-color: var(--gray);
}

.swiper-button-disabled {
  pointer-events: none;
}

.event .swiper-nav-btn:focus-visible {
  outline: 2px solid var(--acc);
}

.event .swiper-nav-btn:active {
  outline: 2px solid var(--acc);
  background-color: var(--light-acc);
}

.event .swiper-nav-btn:hover {
  background-color: var(--light-acc);
}

.event__swiper .swiper-button-disabled {
  pointer-events: none;
  visibility: hidden;
}

.event__card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.event__img {
  margin: 0;
  object-fit: contain;
}

.event__about {
  padding: 14px 49px 40px;
  border: 1px solid var(--light-gray3);
  border-top: none;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* overflow: hidden; */
  flex-grow: 1;

}

.event__about p {
  /* overflow: hidden; */
  margin-bottom: 66px;
}

.event__subtitle {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--light-gray);
}

.event__subtitle:last-of-type {
  margin-bottom: 12px;
}

.event__title {
  margin-bottom: 9px;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.link {
  position: relative;
  align-self: flex-start;
  margin-top: auto;
  color: var(--acc);
}

.link::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10%;
  left: -10%;
  width: 120%;
  height: 110%;
  opacity: 0;
  background-color: var(--acc);
  transition: color, opacity .3s;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--acc);
  transition: background-color .3s;
}

.link:hover {
  color: var(--dark-acc);
}

.link:active {
  color: var(--dark-gray);
}

.link:active::before {
  background-color: var(--dark-gray);
}

.link:focus-visible {
  color: #ffffff;
}

.link:focus-visible::after {
  opacity: 1;
}

.link:focus-visible::before {
  background-color: var(--white);
}

.link:hover::before {
  background-color: var(--dark-acc);
}

.link:focus-visible::before {
  background-color: var(--white);
}

.link:focus-visible {
  outline: none;
}

.swiper-3-pagination {
  display: none;
}

.swiper-3-pagination .swiper-pagination-bullet {
  background-color: var(--dark-gray);
}

@media (max-width: 1200px) {
  .swiper-3-pagination {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  .event__about {
    padding: 16px 32px 48px 33px;
  }

  .event__card {
    height: 683px;
  }

  .event__img {
    object-fit: cover;
    height: 200px;
    flex-shrink: 0;
  }

  .event__subtitle {
    align-self: flex-end;
    font-weight: 400;
  }

  .event__subtitle:last-of-type {
    margin-bottom: 3px;
  }

  .event__title {
    margin-bottom: 4px;
  }
}

@media (max-width: 900px) {
  .event__about {
    padding-top: 14px;
    padding-right: 16px;
  }

  .event__subtitle:last-of-type {
    margin-bottom: 5px;
  }

  .event__title {
    padding-right: 10px;
  }
}

@media (max-width: 650px) {
  .event .pagination {
    display: none;
  }

  .event__about {
    padding: 17px 16px 48px 22px;
  }

  .event__subtitle:last-of-type {
    margin-bottom: 10px;
  }

  .event__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  .event__more {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    position: relative;
    left: 6px;
  }

  .swiper-3-pagination {
    padding-top: 20px;
  }

  .event__swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin: 0 13px;
  }
}
