.event__container {
  padding-top: 0;
}

.event__swiper {
  position: relative;
}

.swiper-3 .swiper-slide {
  cursor: auto;
}

.event .pagination {
  position: absolute;
  position: absolute;
  top: 50%;
  left: -25px;
  width: 103%;
  margin: auto 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.event .swiper-nav-btn {
  width: 50px;
  height: 50px;
  background-color: var(--light-gray2);
  pointer-events: all;
  transition: background-color .3s;
}

.event .swiper-nav-btn::after {
  right: 50%;
  bottom: 50%;
  width: 12px;
  height: 12px;
  border-color: var(--gray);
}

.swiper-button-disabled {
  pointer-events: none;
}

.event .swiper-button-disabled::after {
  border-color: var(--light-gray3);
}

.event .swiper-nav-btn:focus-visible {
  outline: 2px solid var(--acc);
}

.event .swiper-nav-btn:active {
  outline: 2px solid var(--acc);
  background-color: var(--light-acc);
}

.event .swiper-nav-btn:hover {
  background-color: var(--light-acc);
}

.event .swiper-nav-btn.swiper-button-disabled:focus-visible {
  outline: none;
}

.swiper-nav-btn.swiper-button-disabled:hover {
  background-color: var(--light-gray2);
}

.swiper-nav-btn.swiper-button-disabled:active {
  outline: none;
  background-color: var(--light-gray2);
}

.event__card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 700px;
  padding: 315px 50px 40px;
  border: 1px solid var(--gray);
  border-top: none;
}

.event__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  margin: 0;

  object-fit: contain;
}

.event__subtitle {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--light-gray);
}

.event__subtitle:last-of-type {
  margin-bottom: 12px;
}

.event__title {
  margin-bottom: 9px;
}

.link {
  position: relative;
  align-self: flex-start;
  margin-top: auto;
  color: var(--acc);
}

.link::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10%;
  left: -10%;
  width: 120%;
  height: 110%;
  opacity: 0;
  background-color: var(--acc);
  transition: color, opacity .3s;
}

.link:before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--acc);
  transition: background-color .3s;
}

.link:hover {
  color: var(--dark-acc);
}

.link:active {
  color: var(--dark-gray);
}

.link:active::before {
  background-color: var(--dark-gray);
}

.link:focus-visible {
  color: #ffffff;
}

.link:focus-visible::after {
  opacity: 1;
}

.link:focus-visible::before {
  background-color: var(--white);
}

.link:hover::before {
  background-color: var(--dark-acc);
}

.link:focus-visible::before {
  background-color: var(--white);
}

.link:focus-visible {
  outline: none;
}
