.gallery {
  background-image: url("../img/1920/gallery__bg.jpg");
}

.gallery__container {
  display: flex;
}

.gallery__left {
  display: flex;
  align-content: space-between;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__title {
  color: var(--white);
}

.choose-art {
  display: inline-block;
  padding-bottom: 10px;
  color: var(--white);
}

.gallery__choose-wrap {
  margin-top: auto;
}

.gallery__choose-item {
  position: relative;
  display: inline-block;
  padding-left: 24px;
  color: var(--white);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gallery__choose-item:not(:last-of-type) {
  margin-bottom: 10px;
}

.gallery__choose-item input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);
  transition: border-color .3s;
}

.gallery__choose-item input:checked~.checkmark {
  border-color: var(--light-acc2);
}

.checkmark:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: none;
  width: 4px;
  height: 4px;
  border: 2px solid var(--light-acc2);
  border-radius: 50%;
}

.gallery__choose-item input:checked~.checkmark:after {
  display: block;
}

.gallery__choose-item:hover .checkmark {
  border-color: var(--light-acc2);
}

.gallery__choose-item:focus-within {
  color: var(--light-acc2);
}

.gallery__choose-item:focus-visible input~.checkmark {
  border-color: var(--light-acc2);
}

.gallery__choose-item:active {
  color: var(--light-acc2);
}

.gallery__right {
  position: relative;
  /* min-height: 410px; */
  padding-top: 25px;
}

.gallery__right .swiper {
  width: 1150px;
}

.gallery__right .swiper-slide .img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.swiper-button-prev {
  position: absolute;
}

.pagination {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 133px;
  margin-bottom: 30px;
  padding-left: 3px;
}

.swiper-nav-btn {
  position: relative;
  z-index: 2;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--gray);
  cursor: pointer;
}

.swiper-nav-btn:focus-within {
  outline: 1px solid var(--white);
}

.swiper-nav-btn:hover {
  background-color: var(--acc);
}

.swiper-nav-btn:active {
  outline: 1px solid var(--white);
  background-color: var(--dark-acc);
}

.swiper-nav-btn-left::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transform: rotate(45deg);
}

.swiper-nav-btn-right::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--white);
  transform: rotate(-135deg);
}

.swiper-pagination {
  z-index: 0;
  bottom: 0;
  color: var(--white);
}

.swiper-2 {
  height: 350px;
}

.swiper-slide-zoomed {
  position: fixed;
  z-index: 1000;
  /* margin-top: -100px; */
  width: 100vw;
  height: 100vh;
}

.swiper-2 .swiper-slide:after {
  content: "";
  position: absolute;
  z-index: 11;
  top: 46%;
  left: 50%;
  width: 90%;
  height: 90%;
  opacity: 0;
  background-image: url("../img/magnify.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .4s ease-in-out;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

.swiper-2 .swiper-slide:before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 49%;
  left: 50%;
  width: 85%;
  height: 86%;
  opacity: 0;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .4s ease-in-out;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

.swiper-2 .swiper-slide:hover::before,
.swiper-2 .swiper-slide:hover::after {
  opacity: 1;
}

.swiper-2 .swiper-zoom-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .3s;
}

.swiper-2 .swiper-zoom-container:active::after {
  background-color: rgba(194, 131, 243, .4);
}

.swiper-2 .swiper-slide-zoomed.swiper-slide:hover::before,
.swiper-2 .swiper-slide-zoomed.swiper-slide:hover::after {
  opacity: 0;
}

.popup-view {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

.card {
  position: relative;
  display: none;
  width: 900px;
  height: 500px;
  background: var(--white);
  box-shadow: 10px 10px 80px #000000;
}

.card__img {
  flex-shrink: 0;
  width: 45%;
}

.card__img img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.card__about {
  padding: 121px 50px;
}

.card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.card__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.card__year {
  margin-bottom: 39px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #999999;
}

.card__close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 40px;
  font-weight: lighter;
  opacity: .7;
  background: none;
  cursor: pointer;
  transition: color .3s;
}

.card__close:hover,
.card__close:focus {
  color: var(--acc);
  outline: none;
}

.card__close:active {
  color: var(--dark-accacc);
}

picture {
  width: 100%;
  height: 100%;
}

.swiper-zoom-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 3px solid var(--acc);
  opacity: 0;
}

.swiper-zoom-container:focus-visible {
  outline: none;
}

.swiper-zoom-container:focus-visible:before {
  opacity: 1;
}
