html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
}

body {
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
  font-size: var(--def-fs);
  font-weight: var(--def-fw);
  line-height: var(--def-lh);
  word-wrap: break-word;

  scroll-behavior: smooth;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: block;
  padding: 20px 33px;
  border: 2px var(--acc) solid;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  transition-duration: .3s;
  transition-property: background-color, outline, border-color;
}

.btn:focus-visible:not(:active) {
  outline: var(--light-acc2) 2px solid;
  outline-offset: 2px;
}

.btn:active {
  outline: var(--light-acc) 2px solid;
  background-color: var(--dark-acc);
}

.container {
  max-width: 1700px;
  /* position: relative; */
  margin: 0 auto;
  padding: 80px 50px;
}

.title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

p {
  margin: 0;
}
