.header__row-1 {
  position: relative;
  z-index: 2000;
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__container {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.logo {
  margin-right: 179px;
}

.logo:focus-visible {
  outline: none;
  background-color: var(--dark-acc);
}

.logo__img {
  vertical-align: middle;
}

.header__nav {
  display: flex;
  margin: auto 0;
  gap: 62px;
}

.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  color: var(--white);
  transition: color .3s ease;
}

.header__link:hover {
  color: var(--light-acc2)
}

.header__link:focus-visible {
  outline: none;
  background-color: var(--dark-acc);
  color: var(--white);
}

.header__link:active {
  color: var(--dark-acc)
}

.header__btn {
  display: inline-block;
  margin-left: auto;
  padding-left: 19px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--white);
  cursor: pointer;
  /* align-self: center; */
  transition: color .3s ease;
}

.header__btn:hover {
  color: var(--light-acc2)
}

.header__btn:focus-visible {
  outline: none;
  background-color: var(--dark-acc);
  color: var(--white);
}

.header__btn:active {
  color: var(--dark-acc)
}

.header__btn:hover::before {
  filter: brightness(0) saturate(100%) invert(76%) sepia(38%) saturate(6151%) hue-rotate(220deg) brightness(97%) contrast(96%);
}

.header__btn:active::before {
  filter: brightness(0) saturate(100%) invert(30%) sepia(15%) saturate(4272%) hue-rotate(242deg) brightness(93%) contrast(87%);
}

.header__btn::before {
  content: "";
  position: relative;
  left: -5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: filter 0.3s ease; */
}

.header__row-2 {
  position: relative;
  z-index: 1000;
  padding-top: 19px;
  padding-bottom: 17px;
  background: rgba(0, 0, 0, 0.5);
}

.header__nav2 {
  display: flex;
  gap: 89px;
}
