.nav__search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  overflow: hidden;
}

.nav__search-form {
  position: relative;
  z-index: 70;
  display: flex;
  align-items: center;
  width: 252px;
}

.nav__search-input {
  width: 100%;
  padding-bottom: 6px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
  color: rgba(255, 255, 255, .85);
  outline: none;
  background: transparent;
  transition: border-color var(--short);
  caret-color: rgba(255, 255, 255, .85);
}

.nav__search-input::placeholder {
  position: absolute;
  top: -1px;
  left: -1px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: rgba(255, 255, 255, .85);
}

.nav__search-input:focus-within::placeholder {
  color: transparent;
}

.nav__search-input:focus-within {
  border-color: var(--dark-acc);
}

.nav__search-input:hover {
  border-color: var(--light-acc2);
}

.nav__search-input:active {
  border-color: var(--acc);
}

:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  color: rgba(255, 255, 255, .85);
}

.nav__search-btn {
  width: 27px;
  height: 27px;
  padding: 0;
  margin-right: 10px;
  border: none;
  background: none;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.nav__search-btn:focus {
  outline: none;
}

.nav__delete-btn {
  display: none;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  font-size: 50px;
  font-weight: 200;
  color: var(--white);
  background-color: transparent;
  cursor: pointer;
}

.js-open-search {
  display: none;
  order: 3;
}

@media (max-width: 1200px) {
  .js-open-search {
    display: inline-block;
  }

  .header__row-2 {
    transform: scaleX(0);
    background-color: black;
    z-index: 100;
    height: 100px;
  }

  .nav__search-btn {
    margin: 0;
    cursor: pointer;
  }

  .nav__search-input {
    opacity: 0;
    transition: opacity .3s;
  }

  .header__row-2.is-opened {
    transform: translateX(0);
    transition: transform .3s;
    animation-name: search-open;
    animation-duration: 1s;
  }

  .is-opened .nav__search-input {
    opacity: 1;
    width: 218px;
  }

  .is-opened .nav__search-input::placeholder {
    color: transparent;
  }

  .is-opened .nav__delete-btn {
    display: flex;
    transition: color 0.3s;
  }

  .is-closed .nav__delete-btn {
    display: none;
  }

  .nav__delete-btn:active {
    outline: none;
    background-color: transparent;

  }

  .header__row-2.is-closed {
    animation-name: search-close;
    animation-duration: 1s;
    /* transform: translateX(120%); */
  }

  .is-closed .nav__search-input {
    opacity: 0;
    pointer-events: none;
  }

  .nav__delete-btn:hover {
    color: var(--acc);
    transition: color .3s;
  }

  .nav__search-btn:hover {}
}

@media (max-width: 900px) {
  .header__row-2 {
    width: 100%;
  }

  .nav__search-form {
    width: 100%;
    justify-content: space-between;
  }

  .is-opened .nav__search-input {
    width: 80%;
  }

  .nav__search-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header__row-2 {
    height: 45px;
  }

  .nav__search-btn {
    width: 18px;
    height: 18px;
  }

  .nav__delete-btn {
    font-size: 30px;
    width: 16px;
    height: 16px;
  }
}
