:root {
  --main: #9d5cd0;
  --two: #7943a4;
  --outline: 2px solid var(--main);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.main__list {
  display: flex;
  align-items: center;
}

.main__item {
  position: relative;
  color: gray;
  /* margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px; */
}

.main__item-btn {
  height: 100%;
  display: flex;
  align-items: center;
  outline: none;
  padding-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.main__item-btn:hover,
.main__item-btn:focus {
  color: var(--main);
}

.main__item-btn::after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid;
  border-right: 1px solid;
  margin-left: 10px;
  margin-top: -3px;
  transform: rotate(135deg);
  transition: transform 0.5s ease;
  transform-origin: cente;
}

.main__item-btn.is-active {
  color: var(--dark-acc);
}

.main__item-btn.is-active::after {
  transform: rotate(-45deg) translateY(4px);
}

.main__item-btn:active {
  color: var(--two);
}

.main__dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  display: none;
  padding: 40px 20px 40px 40px;
  background-color: rgba(0, 0, 0, 0.6);
}

.main__dropdown-wrap .simplebar-wrapper {
  overflow: visible;
}

.main__dropdown-wrap {
  width: 240px;
  max-height: 220px;
}

.main__dropdown.is-active {
  display: block;
  animation-name: dropdownOpen;
  animation-duration: 0.4s;
}

.main__dropdown.is-disabled {
  display: block;
  animation-name: dropdownClose;
  animation-duration: 0.4s;
}

.main__drop-list {
  list-style: none;
  padding-left: 0;
}

.main__dropdown-item {
  width: 220px;
}

.main__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.main__item-link {
  position: relative;
  display: block;
  padding: 4px 12px 5px;
  font-size: 14px;
  color: #fff;
  transition: border-color 0.3s ease;
  font-weight: 600;
  background-size: cover;
}

.main__item-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0; */
  background-image: linear-gradient(#C283F366 0 0);
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: background-size .4s, background-position .4s;
}

.main__item-link::before:hover {
  transition: background-size .4s, background-position .4s;
  background-size: 200% 100%;
  background-position: 100%;
}

.main__item-link--tintoretto {
  background-image: url('../img/1920/header_m-0a.webp');
}

.main__item-link--fridrih {
  background-image: url("../img/1920/header_m-0b.webp");
}

.main__item-text {
  position: relative;
}

.main__item-link:hover,
.main__item-link:focus {
  outline: none;
  border-color: #9d5cd0;
}

.main__item-link:active::before {
  opacity: 1;
}

.main__dropdown .simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.main__dropdown .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
}

@keyframes dropdownOpen {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdownClose {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-25px);
  }
}
