.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  position: relative;
  background-color: var(--acc);
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: var(--acc)
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}

.tippy-content {
  position: relative;
  padding: 7px 11px;
  z-index: 1
}

.tippy-box {
  border-radius: 0;
  width: 264px;
}

.btn--tippy {
  width: 16px;
  height: 16px;
  border: 1px solid var(--acc);
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  display: inline-block;
  border-radius: 50%;
  font-weight: 600;
  transition: background-color .3s, color .3s;
}

.btn--tippy:active {
  background-color: var(--acc);
  color: var(--white);
}

.btn--tippy:focus-visible,
.btn--tippy:hover {
  outline: none;
  background-color: var(--light-acc);
}
